@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(owl.carousel.min.css);
@import url(nice-select.css);
@font-face {
    font-family: 'helveticaregular';
    src: url('../fonts/helvetica_400-webfont.woff2') format('woff2'), url('../fonts/helvetica_400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box !important;
}

.container {
    max-width: 1400px;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
}


/*font-family: 'Roboto', sans-serif;*/

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 0px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.full {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 280px;
}

.titlepage {
    text-align: center;
    padding-bottom: 60px;
}

.titlepage h2 {
    text-transform: uppercase;
    font-size: 45px;
    color: #353d47;
    line-height: 50px;
    font-weight: bold;
    padding: 0;
    display: inline-block;
}

.titlepage h4 {
    text-transform: uppercase;
    font-size: 30px;
    color: #353d47;
    line-height: 50px;
    font-weight: bold;
    padding: 0;
    display: inline-block;
}

.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.read_more {
    font-size: 17px;
    background-color: #05254d;
    color: #fff;
    width: 100%;
    max-width: 275px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
    font-weight: bold;
    height: 75px;
    text-transform: uppercase;
    line-height: 75px;
}

.read_more:hover {
    background: #ed1c24;
    color: #fff;
    transition: ease-in all 0.5s;
}

.text_align_left {
    text-align: left;
}

.text_align_right {
    text-align: right;
}

.text_align_center {
    text-align: center;
}


/*-- header --*/

.header-area {
    padding: 25px 0px;
    color: #f1f1f1;
    width: 100%;
    z-index: 9999999;
    background: #022b8b
}

.logo_sm {
    display: none;
}

.active {
    color: #fef6fc !important;
    font-weight: bold !important;
    color: #fff !important;
}

.logo_midle-ingles {
    color: #fef6fc;
    color: #fff !important;
}

.logo_midle-ingles::before {
    position: absolute;
    content: "";
    bottom: -125px;
    height: 102px;
    background: url(../images/logo1.png);
    background-repeat: repeat;
    z-index: 999;
    left: 40%;
    margin: 0px auto;
    right: 43px;
    background-repeat: no-repeat;
}

.logo_midle {
    color: #fef6fc;
    color: #fff !important;
}

.logo_midle::before {
    position: absolute;
    content: "";
    bottom: -125px;
    height: 102px;
    background: url(../images/logo1.png);
    background-repeat: repeat;
    z-index: 999;
    margin: 0px auto;
    left: 45%;
    right: 43px;
    background-repeat: no-repeat;
}

.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.site-navbar ul li a {
    color: #fef6fc;
    font-size: 17px;
    display: block ruby;
    text-decoration: none;
    text-transform: uppercase;
}

.site-navbar ul li {
    padding-right: 70px;
}

.site-navbar ul li:last-child {
    padding-right: 0;
}

.site-navbar ul li a:hover {
    color: #00132b;
}

.site-navbar ul li a.active {
    color: #ffffff;
    list-style-type: none;
    float: left;
}


/* navbar regular css end */


/* nav-toggler css start */

.nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
    z-index: 99999;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
}

.nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
}

.nav-toggler span:after {
    content: '';
    transform: translateY(6px);
}

.nav-toggler.toggler-open span {
    background-color: transparent;
}

.nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
}


/* nav-toggler css start */


/* intro-area css start */

.intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}


/* intro-area css end */


/* .left {

    position: absolute;
    background: #00132b;
    width: 100px;
    left: 0;
    height: 125px;
    top: 0;
    text-align: center;
    line-height: 121px;

}

.left  a i {
    color: #fff;

} */

.right {
    color: white;
    background: #48040c;
    text-align: center;
    margin-top: -2.3%;
    position: sticky;
    float: right;
}

.right span {
    position: relative;
    z-index: 10000px;
}

.right a i {
    color: #fff;
}

.login {
    right: 200px;
    left: auto;
}


/** end header **/


/** end header **/


/** banner section **/

.titulo-carrusel {
    color: white !important;
    padding-bottom: 10%;
}

.full_bg {
    background: url(../images/1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    padding-bottom: 150px;
    position: relative;
}

.full_bg .carousel-indicators {
    bottom: -43px;
    margin-left: 0;
    left: 20px;
    right: inherit;
    display: none;
}

.full_bg .carousel-indicators li.active {
    display: inline;
}

.full_bg .carousel-indicators li {
    text-indent: unset;
    opacity: 1;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 59px;
    margin-right: 0px;
    background: transparent;
    border: none;
    text-indent: unset;
    display: none;
}

.slider_main {
    padding-top: 5%;
}

.cuplle {
    position: inherit;
    bottom: 0;
    padding: 0;
    z-index: 9999;
    left: 0;
    right: 0;
}

.photog {
    z-index: 9999;
    position: relative;
    text-align: left;
}

.photog .read_more:focus {
    box-shadow: none;
}

.photog h1 {
    padding: 0;
    font-size: 89px;
    line-height: 90px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
    padding-bottom: 6%;
}

.photog .read_more {
    margin-right: 15px;
    font-weight: normal;
    background: rgb(122, 121, 121);
    color: #000;
    height: 50px;
    line-height: 50px;
    max-width: 204px;
}

.photog .read_more:hover {
    background: #ed1c24;
    color: rgb(0, 0, 0);
}

.slider_main .carousel-item {
    height: 100%;
    width: 100%;
}

#banner1 .carousel-control-prev,
#banner1 .carousel-control-next {
    width: 80px;
    height: 80px;
    background-color: #ed1c24;
    color: #fff;
    font-size: 35px;
    opacity: 1;
    top: 50%;
    border-radius: 50%;
}

#banner1 .carousel-control-prev {
    left: 0%;
}

#banner1 .carousel-control-next {
    right: 0%;
}

#banner1 .carousel-control-next:focus,
#banner1 .carousel-control-next:hover,
#banner1 .carousel-control-prev:focus,
#banner1 .carousel-control-prev:hover {
    background-color: #fff;
    color: #ed1c24;
}


/** end banner section **/


/** instituciones section **/

.principal {
    padding: 6%;
    text-align: justify;
}

.h6_inst {
    margin-top: 40px;
}

h3.h3 {
    color: white;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 20px;
    margin-top: 40px;
}

.p_inst {
    /* padding: 15%; */
}

.imagen_central {
    color: white;
    background: rgb(8, 115, 250);
    background: linear-gradient(270deg, rgba(8, 115, 250, 0.09987745098039214) 0%, rgba(74, 21, 21, 0.44441526610644255) 17%, rgba(41, 29, 73, 0.6937149859943977) 38%, rgba(41, 29, 73, 1) 70%), url(../images/empresas-do-futuro.jpg);
    background-size: 100vw 80vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    padding: 5%;
}

.text_logo_der {
    height: 400px;
    width: 50%;
    padding: 5%;
    background-color: rgba(119, 0, 28, 1);
    color: white;
    float: right;
}

.text_logo_izq {
    text-align: justify;
    height: 400px;
    width: 50%;
    padding: 5%;
    background-color: rgba(119, 0, 28, 1);
    color: white;
    float: left;
}

.logo_derecha {
    background-color: white;
    width: 50%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    float: right;
    display: flex;
}

.logo_izquierdo {
    background-color: white;
    width: 50%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}


/** end instituciones section **/


/** ccic section **/

.imagen_central_ccic {
    color: white;
    background: rgb(8, 115, 250);
    background: linear-gradient(270deg, rgba(8, 115, 250, 0.09987745098039214) 0%, rgba(74, 21, 21, 0.44441526610644255) 17%, rgba(41, 29, 73, 0.6937149859943977) 38%, rgba(157, 2, 2, 0.66) 70%), url(../images/pptccic.jpeg);
    background-size: 100vw 80vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    padding: 5%;
}

.cuadro_demo {
    color: white;
    background-size: 100vw 80vh;
    background: rgb(114, 189, 255);
    background: linear-gradient(180deg, rgba(114, 189, 255, 0.7973564425770308) 10%, rgba(114, 189, 255, 0.562062324929972) 44%, rgba(114, 189, 255, 0.4864320728291317) 68%, rgba(114, 189, 255, 0.18951330532212884) 89%, rgba(0, 212, 255, 0.04385504201680668) 98%);
    width: 100%;
    height: 550px;
    padding: 5%;
    float: left;
}

.cuadro_acompa_demo {
    color: black;
    margin-left: 60%;
}

.cuadro_tres_pasos {
    color: black;
    text-align: justify;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 10%;
    width: 20%;
    float: left;
    border-right: dotted;
    padding-right: 20px;
}

.cuadro_tres_pasos_ultimo {
    color: black;
    text-align: justify;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 10%;
    width: 20%;
    float: left;
}

.cuadro_texto_final {
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 150px;
    clear: both;
    text-align: justify;
}


/** end ccic section **/


/** coronata section **/

.coronata {
    background: #fff;
    padding-top: 100px;
}

.coronata .titlepage {
    padding-bottom: 0;
}

.coronata .titlepage p {
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    color: #111111;
    padding: 35px 0px 50px 0px;
}

.coronata_img figure {
    margin: 0;
}


/** end coronata section **/


/** protect **/

.protect {
    padding: 0 30px;
    padding-top: 80px;
    padding-bottom: 25px;
}

.protect_bg {
    background: url(../images/project.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding-top: 80px;
    padding-bottom: 48px;
}

.protect .titlepage p {
    padding-top: 5px;
}

.desktop {
    padding: 45px 20px 30px 20px;
    background: #fff;
    border-radius: 20px;
}

.protect_box h3 {
    color: #0d0e0e;
    font-size: 17px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 5px;
}

.protect_box span {
    color: #081419;
    font-weight: normal;
}

.protect .read_more {
    margin: 0 auto;
    display: block;
    max-width: 174px;
    height: 51px;
    line-height: 51px;
    font-weight: bold;
    font-size: 15px !important;
    margin-top: 40px;
}

.owl-carousel .owl-item img {
    width: inherit !important;
    text-align: center;
    margin: 0 auto;
    height: 90px;
}

.owl-carousel .owl-nav.disabled {
    display: inherit !important;
    padding-top: 80px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    width: 90px;
    height: 90px;
    background-color: #ed1c24 !important;
    color: #fff !important;
    font-size: 55px !important;
    line-height: 30px !important;
    opacity: 1;
    border-radius: 50px;
    transition: ease-in all 0.5s;
    box-shadow: 0 0 80px rgba(13, 3, 3, 0.11);
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: #fff !important;
    transition: ease-in all 0.5s;
    color: #000 !important;
}

.owl-next {
    position: absolute;
    right: 42%;
}

.owl-prev {
    position: absolute;
    left: 42%;
}


/** end protect **/


/** cases section **/

.cases {
    background: #fff;
    padding: 0 30px 0 30px;
    padding-top: 70px;
}

.cases .titlepage {
    padding-bottom: 30px;
}

.cases .titlepage p {
    padding-top: 5px;
}

.latest {
    margin-top: 30px;
    background: #fff;
    padding: 25px 25px 0px 25px;
    box-shadow: 3px 0 62px rgba(13, 3, 3, 0.20);
    margin-bottom: 70px;
}

.latest figure {
    margin: 0;
}

.latest .read_more {
    margin: 0 auto;
    display: block;
    position: absolute;
    z-index: 99999;
    max-width: 174px;
    height: 51px;
    line-height: 51px;
    font-weight: normal;
    top: 22%;
    right: 0;
    left: 0;
    bottom: 0;
}

.nostrud h3 {
    color: #151515;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    padding-top: 52px;
}

.nostrud p {
    padding: 5px 0 60px 0;
    color: #0f100d;
    line-height: 28px;
    font-weight: normal;
}

.nostrud {
    position: relative;
}

.nostrud::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -40px;
    width: 80px;
    height: 81px;
    text-align: center;
    margin: 0 auto;
}


/** end cases section **/


/** doctors section **/

.doctors {
    background: #fff;
    padding-top: 50px;
    position: relative;
}

.reader {
    margin-top: 45px;
    background: #fff;
    padding: 0px 30px 60px 30px;
    box-shadow: 3px 0 62px rgba(13, 3, 3, 0.20);
    border-radius: 10px;
    transition: ease-in all 0.5s;
    margin-bottom: 30px;
}

.reader i {
    margin: 0;
}

.reader i img {
    border-radius: 50%;
    box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18);
    margin-top: -50px;
}

.reader h3 {
    color: #151515;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    padding-top: 42px;
    text-transform: uppercase;
}

.reader p {
    padding: 20px 0 40px 0;
    color: #0f100d;
    line-height: 28px;
    font-weight: normal;
}

#ho_efcet:hover .reader {
    background: #fafaf9;
    transition: ease-in all 0.5s;
}

.doctors::before {
    position: absolute;
    content: "";
    right: 4%;
    top: 34%;
    width: 120px;
    height: 121px;
}


/** end doctors section **/


/** contact **/

.contact {
    background: #fff;
    padding-top: 50px;
}

.contact .titlepage {
    padding-bottom: 0;
}

.main_form {
    padding-top: 45px;
}

.main_form .contactus {
    padding: 0px 20px;
    margin-bottom: 25px;
    width: 100%;
    height: 66px;
    background: #fff;
    color: #a3a3a2;
    font-size: 17px;
    font-weight: normal;
    border: #9d9d9c solid 2px;
}

.main_form .textarea {
    margin-bottom: 30px;
    width: 100%;
    background: #fff;
    color: #a3a3a2;
    font-size: 17px;
    font-weight: normal;
    padding: 40px 20px 10px 20px;
    border: #9d9d9c solid 2px;
    height: 120px;
}

.main_form .send_btn {
    font-size: 15px;
    transition: ease-in all 0.5s;
    background-color: #2b2b2b;
    text-transform: uppercase;
    color: #fff;
    max-width: 200px;
    width: 100%;
    display: block;
    font-weight: bold;
    height: 77px;
    line-height: 77px;
}

.main_form .send_btn:hover {
    background-color: #e92f0b;
    transition: ease-in all 0.5s;
    color: #fff;
}

#request *::placeholder {
    color: #a3a3a2;
    opacity: 1;
}


/** end contact **/


/** update **/

.update {
    padding-top: 50px;
    position: relative;
}

.update::before {
    position: absolute;
    content: "";
    left: 4%;
    background: url(../images/case.png);
    top: 3%;
    width: 120px;
    height: 121px;
    background-repeat: no-repeat;
}

.cevery_white {
    background: #fff;
}

.cevery_bg {
    background: url(../images/ever_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;
}

.newsl {
    text-transform: uppercase;
    width: 100%;
    height: 87px;
    background: transparent;
    color: #fff;
    font-size: 17px;
    font-weight: normal;
    box-shadow: inherit;
    padding: 0 25px;
    border: #fff solid 1px;
    border-radius: 50px;
}

.subsci_btn {
    font-size: 21px;
    transition: ease-in all 0.5s;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    line-height: 82px;
    height: 82px;
    max-width: 402px;
    width: 100%;
    display: block;
    border: inherit;
    background: #0a264a;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 30px;
}

.subsci_btn:hover {
    transition: ease-in all 0.5s;
    color: #fff;
    background-color: #e92f0b;
}

#colof *::placeholder {
    color: #fff;
    opacity: 1;
}


/** end update **/


/** footer **/

footer {
    text-align: center;
    padding: 1px;
    background-color: #48040c;
    color: white;
    display: flow-root;
    position: relative;
}

.footer {
    color: white;
    font-weight: 900px;
}

.hedingh3 {
    padding-bottom: 25px;
}

.hedingh3 h3 {
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 23px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.hedingh3 p {
    color: #fff;
    text-align: left;
    margin-bottom: 15px;
}

ul.menu_footer {
    text-align: left;
    margin-bottom: 15px;
}

ul.menu_footer li a {
    color: #979793;
    font-size: 17px;
    line-height: 18px;
    padding-bottom: 10px;
    display: block;
}

ul.menu_footer li a:hover {
    color: #e92f0b;
}

ul.inst li {
    display: inline-block;
    margin: 4px;
}

ul.top_infomation li {
    display: block;
    font-size: 17px;
    color: #fff;
}

ul.top_infomation li:last-child {
    padding-right: 0;
}

ul.top_infomation li i {
    margin-right: 5px;
    color: #fff;
    text-align: center;
    transition: ease-in all 0.5s;
}

ul.top_infomation li a {
    color: #fff;
}

ul.top_infomation li a:hover {
    color: #e92f0b;
}

ul.top_infomation li i:hover {
    background: #eb4746;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: ease-in all 0.5s;
}

.copyright {
    margin-top: 30px;
    padding-bottom: 20px;
}

.copyright p {
    border-top: #d1d1d1 solid 1px;
    padding-top: 20px;
    color: #d1d1d1;
    font-size: 30px;
    line-height: 22px;
    text-align: center;
    font-weight: normal;
}

.copyright a {
    color: #d1d1d1;
}

.copyright a:hover {
    color: #ed1c24;
}


/** end footer **/


/**  inner page css **/

.inner_page .full_bg {
    height: 106px;
    padding-bottom: 0;
}

.inner_page .about {
    margin-top: 145px;
    margin-bottom: 80px;
}

.inner_page .doctors {
    padding-top: 140px;
    padding-bottom: 50px;
}

.inner_page .coronata {
    padding-top: 130px;
    padding-bottom: 180px;
}

.inner_page .cases {
    padding-top: 60px;
    padding-bottom: 40px;
}

.inner_page .contact {
    padding-top: 145px;
    padding-bottom: 80px;
}


/* tablas */

#tabla {
    border: 4px solid black;
    background-color: #fff;
    color: blue;
    width: 540px;
    margin: 15px auto;
    /* margin para centrar la tabla */
}

table {
    border: 3px dashed black;
    width: 600px;
    text-align: center;
    /* para que el color este igual al tama;o de la tabla */
}

.autos-box {
    /* margin-right: auto; */
    display: inline-block;
    padding: 50px;
    /* espacio para centrar a todos los lados */
    border: 1px solid rgb(0, 0, 0);
    /* bordes */
    text-align: center;
    /* centrar el texto */
    /* padding-left: 50px;
  padding-right: 50px; */
    width: 400px;
    height: 10px;
    cursor: pointer;
}

.containerdiv {
    padding: 20px;
    justify-content: center;
    display: flex;
    /* se acomodan las imagenes automaticamente en linea */
    align-items: center;
    /* centrs las cosas */
    flex-wrap: wrap;
    /* para que la pagina no se extiena y se acomode en los elementos en la siguiente linea */
}

.make {
    text-align: center;
    color: red;
}

.textodelmakeaquestion {
    padding: 20px;
    padding-left: 90px;
    padding-right: 90px;
    /* center p */
    color: rgb(0, 0, 0);
}

.box-detalle {
    border: 1.5px solid black;
    width: 220px;
    height: 80px;
    position: relative;
}

.detalle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.espacio {
    margin-bottom: 14%;
}

.box-form-detalle {
    text-align: center;
    float: right;
}

.titulo-detalle {
    color: #48040c;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.recolector {
    height: 50px;
}

.recolector-grande {
    height: 50px;
    width: 60.5%;
}

.boton {
    background-color: #48040c;
    width: 30%;
    border-radius: 30px;
    color: white;
    height: 51px;
}

 ::-webkit-input-placeholder {
    text-align: center;
}

 :-moz-placeholder {
    text-align: center;
}

 ::-moz-placeholder {
    text-align: center;
}

 :-ms-input-placeholder {
    text-align: center;
}

textarea::placeholder {
    line-height: 250px;
}

.contenedor-detalles {
    margin-right: 10%;
}

ul.listaFAQ li {
    display: list-item;
    list-style-type: circle;
    margin-inline-start: 17px;
}

ul.lista2FAQ li {
    display: list-item;
    list-style-type: disc;
    margin-left: 17px;
}


/** begin section CONTACTENOS **/

.titulo_contactenos {
    padding-top: 20px;
    margin-top: 40px;
}

.elementos_aling {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 150px;
}


/* @media (min-width: 1025px) and (max-width: 1280px) {
    .elementos_aling {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 150px 150px;
        margin: 10%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .elementos_aling {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 150px 150px;
        margin: 10%;
    }
} */

.correo_contact {
    position: absolute;
    background-color: #8b0505;
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.tel_contact {
    position: absolute;
    background-color: #8b0505;
    border-radius: 20px;
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.dir_contact {
    position: absolute;
    background-color: #8b0505;
    border-radius: 20px;
    width: 100%;
    height: 400px;
}

.texto_cuadro {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.imagen_contact img {
    margin-left: 0px;
    position: relative;
    width: 110px;
    border-radius: 50%;
}

.conte_cuadros {
    width: 30%;
}

.bajar {
    padding-top: 30%;
}


/** end section CONTACTENOS **/

.news-page {
    padding-top: 30px;
    position: relative;
}

.wd-5 {
    width: 5px;
}

.wd-5p {
    width: 5%;
}

.mx-wd-5p {
    max-width: 5%;
}

.mn-wd-5p {
    min-width: 5%;
}

.wd-5-force {
    width: 5px !important;
}

.wd-5p-force {
    width: 5% !important;
}

.mx-wd-5p-force {
    max-width: 5% !important;
}

.mn-wd-5p-force {
    min-width: 5% !important;
}

.wd-10 {
    width: 10px;
}

.wd-10p {
    width: 10%;
}

.mx-wd-10p {
    max-width: 10%;
}

.mn-wd-10p {
    min-width: 10%;
}

.wd-10-force {
    width: 10px !important;
}

.wd-10p-force {
    width: 10% !important;
}

.mx-wd-10p-force {
    max-width: 10% !important;
}

.mn-wd-10p-force {
    min-width: 10% !important;
}

.wd-15 {
    width: 15px;
}

.wd-15p {
    width: 15%;
}

.mx-wd-15p {
    max-width: 15%;
}

.mn-wd-15p {
    min-width: 15%;
}

.wd-15-force {
    width: 15px !important;
}

.wd-15p-force {
    width: 15% !important;
}

.mx-wd-15p-force {
    max-width: 15% !important;
}

.mn-wd-15p-force {
    min-width: 15% !important;
}

.wd-20 {
    width: 20px;
}

.wd-20p {
    width: 20%;
}

.mx-wd-20p {
    max-width: 20%;
}

.mn-wd-20p {
    min-width: 20%;
}

.wd-20-force {
    width: 20px !important;
}

.wd-20p-force {
    width: 20% !important;
}

.mx-wd-20p-force {
    max-width: 20% !important;
}

.mn-wd-20p-force {
    min-width: 20% !important;
}

.wd-25 {
    width: 25px;
}

.wd-25p {
    width: 25%;
}

.mx-wd-25p {
    max-width: 25%;
}

.mn-wd-25p {
    min-width: 25%;
}

.wd-25-force {
    width: 25px !important;
}

.wd-25p-force {
    width: 25% !important;
}

.mx-wd-25p-force {
    max-width: 25% !important;
}

.mn-wd-25p-force {
    min-width: 25% !important;
}

.wd-30 {
    width: 30px;
}

.wd-30p {
    width: 30%;
}

.mx-wd-30p {
    max-width: 30%;
}

.mn-wd-30p {
    min-width: 30%;
}

.wd-30-force {
    width: 30px !important;
}

.wd-30p-force {
    width: 30% !important;
}

.mx-wd-30p-force {
    max-width: 30% !important;
}

.mn-wd-30p-force {
    min-width: 30% !important;
}

.wd-35 {
    width: 35px;
}

.wd-35p {
    width: 35%;
}

.mx-wd-35p {
    max-width: 35%;
}

.mn-wd-35p {
    min-width: 35%;
}

.wd-35-force {
    width: 35px !important;
}

.wd-35p-force {
    width: 35% !important;
}

.mx-wd-35p-force {
    max-width: 35% !important;
}

.mn-wd-35p-force {
    min-width: 35% !important;
}

.wd-40 {
    width: 40px;
}

.wd-40p {
    width: 40%;
}

.mx-wd-40p {
    max-width: 40%;
}

.mn-wd-40p {
    min-width: 40%;
}

.wd-40-force {
    width: 40px !important;
}

.wd-40p-force {
    width: 40% !important;
}

.mx-wd-40p-force {
    max-width: 40% !important;
}

.mn-wd-40p-force {
    min-width: 40% !important;
}

.wd-45 {
    width: 45px;
}

.wd-45p {
    width: 45%;
}

.mx-wd-45p {
    max-width: 45%;
}

.mn-wd-45p {
    min-width: 45%;
}

.wd-45-force {
    width: 45px !important;
}

.wd-45p-force {
    width: 45% !important;
}

.mx-wd-45p-force {
    max-width: 45% !important;
}

.mn-wd-45p-force {
    min-width: 45% !important;
}

.wd-50 {
    width: 50px;
}

.wd-50p {
    width: 50%;
}

.mx-wd-50p {
    max-width: 50%;
}

.mn-wd-50p {
    min-width: 50%;
}

.wd-50-force {
    width: 50px !important;
}

.wd-50p-force {
    width: 50% !important;
}

.mx-wd-50p-force {
    max-width: 50% !important;
}

.mn-wd-50p-force {
    min-width: 50% !important;
}

.wd-55 {
    width: 55px;
}

.wd-55p {
    width: 55%;
}

.mx-wd-55p {
    max-width: 55%;
}

.mn-wd-55p {
    min-width: 55%;
}

.wd-55-force {
    width: 55px !important;
}

.wd-55p-force {
    width: 55% !important;
}

.mx-wd-55p-force {
    max-width: 55% !important;
}

.mn-wd-55p-force {
    min-width: 55% !important;
}

.wd-60 {
    width: 60px;
}

.wd-60p {
    width: 60%;
}

.mx-wd-60p {
    max-width: 60%;
}

.mn-wd-60p {
    min-width: 60%;
}

.wd-60-force {
    width: 60px !important;
}

.wd-60p-force {
    width: 60% !important;
}

.mx-wd-60p-force {
    max-width: 60% !important;
}

.mn-wd-60p-force {
    min-width: 60% !important;
}

.wd-65 {
    width: 65px;
}

.wd-65p {
    width: 65%;
}

.mx-wd-65p {
    max-width: 65%;
}

.mn-wd-65p {
    min-width: 65%;
}

.wd-65-force {
    width: 65px !important;
}

.wd-65p-force {
    width: 65% !important;
}

.mx-wd-65p-force {
    max-width: 65% !important;
}

.mn-wd-65p-force {
    min-width: 65% !important;
}

.wd-70 {
    width: 70px;
}

.wd-70p {
    width: 70%;
}

.mx-wd-70p {
    max-width: 70%;
}

.mn-wd-70p {
    min-width: 70%;
}

.wd-70-force {
    width: 70px !important;
}

.wd-70p-force {
    width: 70% !important;
}

.mx-wd-70p-force {
    max-width: 70% !important;
}

.mn-wd-70p-force {
    min-width: 70% !important;
}

.wd-75 {
    width: 75px;
}

.wd-75p {
    width: 75%;
}

.mx-wd-75p {
    max-width: 75%;
}

.mn-wd-75p {
    min-width: 75%;
}

.wd-75-force {
    width: 75px !important;
}

.wd-75p-force {
    width: 75% !important;
}

.mx-wd-75p-force {
    max-width: 75% !important;
}

.mn-wd-75p-force {
    min-width: 75% !important;
}

.wd-80 {
    width: 80px;
}

.wd-80p {
    width: 80%;
}

.mx-wd-80p {
    max-width: 80%;
}

.mn-wd-80p {
    min-width: 80%;
}

.wd-80-force {
    width: 80px !important;
}

.wd-80p-force {
    width: 80% !important;
}

.mx-wd-80p-force {
    max-width: 80% !important;
}

.mn-wd-80p-force {
    min-width: 80% !important;
}

.wd-85 {
    width: 85px;
}

.wd-85p {
    width: 85%;
}

.mx-wd-85p {
    max-width: 85%;
}

.mn-wd-85p {
    min-width: 85%;
}

.wd-85-force {
    width: 85px !important;
}

.wd-85p-force {
    width: 85% !important;
}

.mx-wd-85p-force {
    max-width: 85% !important;
}

.mn-wd-85p-force {
    min-width: 85% !important;
}

.wd-90 {
    width: 90px;
}

.wd-90p {
    width: 90%;
}

.mx-wd-90p {
    max-width: 90%;
}

.mn-wd-90p {
    min-width: 90%;
}

.wd-90-force {
    width: 90px !important;
}

.wd-90p-force {
    width: 90% !important;
}

.mx-wd-90p-force {
    max-width: 90% !important;
}

.mn-wd-90p-force {
    min-width: 90% !important;
}

.wd-95 {
    width: 95px;
}

.wd-95p {
    width: 95%;
}

.mx-wd-95p {
    max-width: 95%;
}

.mn-wd-95p {
    min-width: 95%;
}

.wd-95-force {
    width: 95px !important;
}

.wd-95p-force {
    width: 95% !important;
}

.mx-wd-95p-force {
    max-width: 95% !important;
}

.mn-wd-95p-force {
    min-width: 95% !important;
}

.wd-100 {
    width: 100px;
}

.wd-100p {
    width: 100%;
}

.mx-wd-100p {
    max-width: 100%;
}

.mn-wd-100p {
    min-width: 100%;
}

.wd-100-force {
    width: 100px !important;
}

.wd-100p-force {
    width: 100% !important;
}

.mx-wd-100p-force {
    max-width: 100% !important;
}

.mn-wd-100p-force {
    min-width: 100% !important;
}

.wd-150 {
    width: 150px;
}

.wd-150-force {
    width: 150px !important;
}

.wd-200 {
    width: 200px;
}

.wd-200-force {
    width: 200px !important;
}

.wd-250 {
    width: 250px;
}

.wd-250-force {
    width: 250px !important;
}

.wd-300 {
    width: 300px;
}

.wd-300-force {
    width: 300px !important;
}

.wd-350 {
    width: 350px;
}

.wd-350-force {
    width: 350px !important;
}

.wd-400 {
    width: 400px;
}

.wd-400-force {
    width: 400px !important;
}

.wd-450 {
    width: 450px;
}

.wd-450-force {
    width: 450px !important;
}

.wd-500 {
    width: 500px;
}

.wd-500-force {
    width: 500px !important;
}

.wd-550 {
    width: 550px;
}

.wd-550-force {
    width: 550px !important;
}

.wd-600 {
    width: 600px;
}

.wd-600-force {
    width: 600px !important;
}

.wd-650 {
    width: 650px;
}

.wd-650-force {
    width: 650px !important;
}

.wd-700 {
    width: 700px;
}

.wd-700-force {
    width: 700px !important;
}

.wd-750 {
    width: 750px;
}

.wd-750-force {
    width: 750px !important;
}

.wd-800 {
    width: 800px;
}

.wd-800-force {
    width: 800px !important;
}

.wd-850 {
    width: 850px;
}

.wd-850-force {
    width: 850px !important;
}

.wd-900 {
    width: 900px;
}

.wd-900-force {
    width: 900px !important;
}

.wd-950 {
    width: 950px;
}

.wd-950-force {
    width: 950px !important;
}

.wd-1000 {
    width: 1000px;
}

.wd-1000-force {
    width: 1000px !important;
}

.loginBtn--normal {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 0px 0 12px;
    border: none;
    line-height: 40px;
    white-space: nowrap;
    font-size: 19px;
    color: #FFF;
    width: 100%;
}


/* Shared */

.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 11px 0 46px;
    border: none;
    line-height: 40px;
    white-space: nowrap;
    font-size: 19px;
    color: #FFF;
    width: 100%;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}


/* Facebook */

.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */

.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}

.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

.centrador-texto {
    margin-left: -2px;
}

.bg-br-primary {
    background-color: #1D2939;
}

.ht-100v {
    height: 100vh;
}

.justify-content-center {
    justify-content: center !important;
}

.tx-center {
    text-align: center;
}

.tx-28 {
    font-size: 28px;
}

.tx-bold {
    font-weight: 700;
}

.tx-inverse {
    color: #343a40;
}

.tx-normal {
    font-weight: 400;
}

.shadow-base {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
}

.rounded {
    border-radius: 3px !important;
}

.bg-white {
    background-color: #fff !important;
}

.login-wrapper {
    width: auto;
    padding: 30px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .space-between {
        display: block;
        justify-content: space-between;
    }
    .conte_cuadros {
        width: auto;
        margin-top: 10%;
        padding: 14%;
    }
    .bajar {
        padding-top: 10%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .space-between {
        display: block;
        justify-content: space-between;
    }
    .logo_izquierdo {
        background-color: white;
        width: 100%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        float: left;
    }
    .conte_cuadros {
        width: auto;
        margin-top: 10%;
        padding: 14%;
    }
    .bajar {
        padding-top: 10%;
    }
    .contenedor-instituciones {
        display: flex;
    }
    .text_logo_izq {
        text-align: justify;
        height: auto;
        width: 100%;
        background-color: rgba(119, 0, 28, 1);
        color: white;
        float: left;
    }
    .text_logo_der {
        height: auto;
        width: 100%;
        padding: 5%;
        background-color: rgba(119, 0, 28, 1);
        color: white;
        float: right;
    }
    .logo_derecha {
        background-color: white;
        width: 100%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        float: right;
        display: flex;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .space-between {
        display: block;
        justify-content: space-between;
    }
    .conte_cuadros {
        width: auto;
        margin-top: 10%;
        padding: 14%;
    }
    .bajar {
        padding-top: 10%;
    }
    .logo_derecha {
        background-color: white;
        width: 100%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        float: right;
        display: flex;
    }
    .logo_izquierdo {
        background-color: white;
        width: 100%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        float: left;
    }
    .text_logo_izq {
        text-align: justify;
        height: auto;
        width: 100%;
        background-color: rgba(119, 0, 28, 1);
        color: white;
        float: left;
    }
    .text_logo_der {
        height: auto;
        width: 100%;
        background-color: rgba(119, 0, 28, 1);
        color: white;
        float: right;
    }
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}